@model  CRUDMORE.Models.LoginViewModel
@{
    Layout = null;
    }

<!DOCTYPE html>
@using(Html.BeginForm())
{
    <p>
        @Html.LabelFor(x=>x.UserName)
        @Html.TextBoxFor(x=>x.UserName)
        @Html.ValidationMessageFor(x=>x.UserName)
    </p>
    <p>
        @Html.LabelFor(x=>x.CityId)
        @Html.DropDownListFor(x=>x.CityId,CRUDMORE.Models.U.GetCity)
        @Html.ValidationMessageFor(x=>x.CityId)
    </p>
    <p>
        @Html.LabelFor(x=>x.Gender,"Male")
        @Html.RadioButtonFor(x=>x.Gender,true)
        @Html.LabelFor(x=>x.Gender,"Female")
        @Html.RadioButtonFor(x=>x.Gender,false)
    </p>
    <p>       
        <br />
        <input type="checkbox" name="Hobby1" value="Play"/>Play <br />
        <input type="checkbox" name="Hobby2" value="Read" />Read<br />
        <textarea name="Hobby3">
        </textarea>
    </p>
    <p>
        <input type="submit" value="Add" />
        <h1>@ViewBag.Message</h1>
    </p>
}